<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="none">
    <test name="ChromeTest">
        <parameter name="browserName" value="CHROME"/>
        <classes>
            <class name="org.selenium.tests.ApiTest"/>
            <class name="org.selenium.tests.LoginTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="FirefoxTest">
        <parameter name="browserName" value="FIREFOX"/>
        <classes>
            <class name="org.selenium.tests.ApiTest"/>
            <class name="org.selenium.tests.LoginTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="EdgeTest">
        <parameter name="browserName" value="EDGE"/>
        <classes>
            <class name="org.selenium.tests.ApiTest"/>
            <class name="org.selenium.tests.LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->